<div class="center hero-unit">
  <h1>Welcome to Buzz</h1>

  <h2>
    Always stay updated with the latest Buzz
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>




	

