<footer class="footer">
  <a  href="/"><img alt="Pings" src="/assets/ping.png" style="width:30px;height:30px"/></a>
 <br>
  <small style>
    <a href="/">Buzz</a>
  </small>
  <p style="margin-left:368px;margin-top:-10px;display:inline">&copy Copyrights 2014</p>
  <nav style="display:inline">
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="/help">Help</a></li>
    </ul>
  </nav>
</footer>

